{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>GLOB TOUR|ABOUT US</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color:#000d1a;">

<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">

    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/" class="w3-bar-item w3-button">Kryefaqja</a>
      <a href="/about/" class="w3-bar-item w3-button">Rreth nesh</a>
      <a href="/#bottom" class="w3-bar-item w3-button">Kontakt</a>
    </div>

  </div>
     <div class="w3-display-middle w3-margin-top w3-center">

    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min">  <img src="{% static 'img/download.png' %}" width="70px" height="70px" style="margin-left: -16px; margin-bottom:13px;"><b>GLOB TOUR </b></span> </h1>
  </div>

</div>



<div class="container">


<div class="text-box">
  <h1 class="primary">
    <span class="primary-main" style="font-size:6rem;font-family: Italiana;">GLOB TOUR</span>
    <span class="primary-sub" style="font-family: Italiana;">KENAQESIA E UDHETIMIT</span>
  </h1>
   </div>
    <a href="/#turet" class="btn btn-animated" style="margin:317px;margin-left: 460px;background-color:#ff7403;color: #fff;font-family: Italiana;">Zbulo turet tona</a>

<br><br>
<br><br>

<br><br>

<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary" style="font-family: Ovo;">Sherbimet</h2>
   
  </div>

</section>


<div class="row">
  <div class="col-md-4">
    <div class="feature-box">
      <i class="fa fa-globe"></i>
      <h3 class="heading-tertiary u-margin-bottom-small" style="font-family: Ovo;">Eksploro boten</h3>
      <p class="feature-box_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda saepe.</p>
  </div>
</div>

<div class="col-md-4">
    <div class="feature-box">
      <i class=" fa fa-pagelines"></i>
      <h3 class="heading-tertiary u-margin-bottom-small"style="font-family: Ovo;">Takohu me natyren</h3>
      
            <p class="feature-box_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda saepe.</p>

  </div>
</div>
<div class="col-md-4">
    <div class="feature-box">
      <i class="fa fa-heart-o"></i>
      <h3 class="heading-tertiary u-margin-bottom-small"style="font-family: Ovo;">Oferta speciale</h3>
            <p class="feature-box_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio assumenda saepe.</p>

  </div>
</div>


</div>






<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="{% static 'img/video.mp4' %}" type="video/mp4">

</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content">
  <h3>Udheto me GLOB TOUR
  </h3> 
    
 
 
</div>



<div class="icon-bar">
  <a href="https://www.facebook.com/Glob-Tour-Elbasan-166062103530615/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://www.instagram.com/globtour_elbasan/" class="instagram"  target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1576186653&rver=7.0.6737.0&wp=MBI_SSL&wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fnlp%3d1%26RpsCsrfState%3dcb523fee-bba7-7992-33cb-dd6b295a5020&id=292841&aadredir=1&CBCXT=out&lw=1&fl=dob%2cflname%2cwld&cobrandid=90015" class="email" target="_blank"><i class="fa-envelope"></i></a>
 

</div>




</div><!--ketu mbyllet container-->




<div style= "color: white;" class="copyright container">
    Copyright &copy; 2019|GlobTour.al
    All right reserved.
 

</div>





            </body>
            </html>